.board{
    width: 500px;
    height: 500px;
    background-color: rgb(39, 26, 7);
}

.row{
    width: 100%;
    background-color:burlywood;
    border: solid 1px black;
}
 .square{
     display:inline-block;
     height:100%;
     border:solid 1px black;
 }